<mat-progress-bar class="loading" *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="container">
  <me-list></me-list>
  <div class="card">
    <div class="header">
      <h3>تغییر رمز عبور</h3>
      <p>تغییر رمز عبور ورود به حساب کاربری</p>
    </div>
    <div class="form">
      <form autocomplete="off">
        <div class="form">
          <mat-form-field appearance="outline">
            <mat-label>رمز عبور قدیمی</mat-label>
            <input matInput name="old password" type="password" class="ltr" [(ngModel)]="password.old"
              [disabled]="loading" autocomplete="new-password">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>رمز عبور جدید</mat-label>
            <input matInput name="new password" type="password" class="ltr" [(ngModel)]="password.new"
              [disabled]="loading">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>تکرار رمز عبور جدید</mat-label>
            <input matInput name="re new password" type="password" class="ltr" [(ngModel)]="password.renew"
              [disabled]="loading">
          </mat-form-field>
        </div>
      </form>
    </div>
    <div class="buttons">
      <button mat-raised-button color="primary" (click)="update()" [disabled]="loading">تغییر رمز عبور</button>
    </div>
  </div>
</div>