<div *ngIf="requested == false">
  <nav>
    <button mat-icon-button onclick="window.history.back()">
      <mat-icon>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
          <path d="M24 8l-2.83 2.83L32.34 22H8v4h24.34L21.17 37.17 24 40l16-16z" /></svg>
      </mat-icon>
    </button>
    <span>بازگشت</span>
  </nav>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <div class="container">
    <div class="header">
      <img routerLink="/" src="/assets/icon.png" alt="Icon">
    </div>
    <div class="form">
      <h4>بازیابی رمز عبور</h4>
      <span>با آدرس ایمیلی که ثبت نام کردید رمز عبور را بازیابی کنید.</span>
      <mat-form-field appearance="legacy">
        <mat-label>آدرس ایمیل</mat-label>
        <input matInput type="email" name="email-address" [(ngModel)]="email" [disabled]="loading">
        <mat-hint>مثال: example@mail.com</mat-hint>
      </mat-form-field>

      <div class="buttons">
        <button [disabled]="loading" mat-raised-button color="primary" (click)="submit()">درخواست</button>
      </div>
    </div>
    <span class="link" routerLink="/account/login">ورود به حساب کاربری</span>
  </div>
</div>

<div *ngIf="requested == true">
  <div class="container">
    <div class="form center-content">
      <svg xmlns="http://www.w3.org/2000/svg" class="primary" width="75" height="75" viewBox="0 0 48 48">
        <path d="M18 32.34L9.66 24l-2.83 2.83L18 38l24-24-2.83-2.83z" />
      </svg>
      <h3>درخواست ثبت شد</h3>
      <p>درخواست بازیابی رمز عبور به {{email}} ایمیل شد.</p>
      <p style="margin-top: 0; font-size: .8rem"> لطفا ایمیل خود را بررسی کنید.</p>
      <button style="margin-top: 20px;" mat-stroked-button color="primary" routerLink="/">بازگشت</button>
    </div>
  </div>
</div>