<nav>
  <button mat-icon-button onclick="window.history.back()">
    <mat-icon>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
        <path d="M24 8l-2.83 2.83L32.34 22H8v4h24.34L21.17 37.17 24 40l16-16z" /></svg>
    </mat-icon>
  </button>
  <span>بازگشت</span>
</nav>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="container">
  <div class="header">
    <img routerLink="/" src="/assets/icon.png" alt="Icon">
  </div>
  <div class="form">
    <h4>ورود به حساب کاربری</h4>
    <span>با آدرس ایمیل وارد حساب خود شوید.</span>
    <mat-form-field appearance="legacy">
      <mat-label>آدرس ایمیل</mat-label>
      <input matInput type="email" name="email-address" [(ngModel)]="email" [disabled]="loading">
      <mat-hint>مثال: example@mail.com</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="legacy" style="margin-top: 10px;">
      <mat-label>رمز عبور</mat-label>
      <input matInput type="password" name="password" [(ngModel)]="password" [disabled]="loading">
    </mat-form-field>

    <div class="buttons">
      <span routerLink="/account/forget/request">بازیابی رمز عبور</span>
      <button [disabled]="loading" mat-raised-button color="primary" (click)="submit()">ورود</button>
    </div>
  </div>
  <span class="link" routerLink="/account/register">ایجاد حساب کاربری</span>
</div>