<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="container">
  <div class="header">
    <img src="/assets/icon.png" alt="Icon">
  </div>
  <div class="form">
    <h4>بازیابی رمز عبور</h4>
    <span>برای حساب کاربری خود رمز عبور جدیدی تعریف کنید</span>

    <mat-form-field appearance="legacy">
      <mat-label>رمز عبور</mat-label>
      <input matInput type="password" name="password" [(ngModel)]="password" [disabled]="loading">
    </mat-form-field>

    <mat-form-field appearance="legacy" style="margin-top: 10px;">
      <mat-label>تکرار رمز عبور</mat-label>
      <input matInput type="password" name="confirm password" [(ngModel)]="confirm_password" [disabled]="loading">
    </mat-form-field>

    <div class="buttons">
      <button [disabled]="loading" mat-raised-button color="primary" (click)="submit()">ثبت</button>
    </div>
  </div>
</div>