/* You can add global styles to this file, and also import other style files */

*{
    outline: none;
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-color: #f8f8f8;
}